body {
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Chettan 2', cursive;
}

h1 {
    align-self: center;
    font-size: 3rem;
}

.getFact {
    font-size: 3rem;
    background-color:white;
    border-color: white;
    text-decoration: none;
    cursor: pointer;
}

button:focus {
    outline:0;
}

.factContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.catFact {
    justify-content: center;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1rem;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
    width: 470px;
    height: 290px;
}